<%- include('../partials/header') %>
<form action="/addflight" method="post">
    Select Departure Airport
    <select name="departure" id="departure" required>
        <% airport.forEach(function(airport){ %>
        <option value="<%=airport.airport_id%>"><%= airport.airport_name %></option>
        <% });%>
    </select>
    <br /> Set Departure Date :<input type="date" name="departure_date" id="departure_date" required /> <br /> Set Departure Time :<input type="time" format="hh:mm" name="departure_time" id="departure_time" required />
    <br />
    <hr /> Select Destination Airport
    <select name="destination" id="destination" required>
        <% airport.forEach(function(airport){ %>
        <option value="<%=airport.airport_id%>"><%= airport.airport_name %></option>
        <% });%>
    </select>
    <br /> Set Arrival Date :<input type="date" name="arrival_date" id="arrival_date" required /> <br /> Set Arrival Time :<input type="time" format="hh:mm" name="arrival_time" id="arrival_time" required />
    <br />
    <input type="hidden" id="duration" name="duration" value="00:00">
    <input class="col-3" id="duration_view" type="text" placeholder="Duration Will be Calculated and Shown here" readonly>
    <hr /> price per seat in Rupees:<input type="number" name="price" id="price" required />
    <hr /> Choose Crew: <br /> Pilot:
    <select name="crew[0]" id="pilot" required>
        <% crew.forEach(function(crew){ %> <% if(crew.occupation === 'pilot') { %>
        <option value="<%=crew.userid%>"><%=crew.first_name%> <%=crew.last_name%> ID: <%=crew.userid%></option>
        <% }});%>
    </select>
    <br /> AirHostess:
    <select name="crew[1]" id="air_hostess" required>
        <% crew.forEach(function(crew){ %> <% if(crew.occupation === 'air_hostess') { %>
        <option value="<%=crew.userid%>"><%=crew.first_name%> <%=crew.last_name%> ID: <%=crew.userid%></option>
        <% }});%>
    </select>
    <br /> Technician:
    <select name="crew[2]" id="technician" required>
        <% crew.forEach(function(crew){ %> <% if(crew.occupation === 'technician') { %>
        <option value="<%=crew.userid%>"><%=crew.first_name%> <%=crew.last_name%> ID: <%=crew.userid%></option>
        <% }});%>
    </select>
    <button type="submit">Submit</button>
</form>

Goto <a href="/dashboard"> Dashboard</a>

<%- include('../partials/footer') %>
<script>
    date = new Date();
    date = date.toISOString();
    date = date.substring(0, 10);
    document.getElementById("departure_date").min = date;
    document.getElementById("arrival_date").min = date;
</script>
<script src="./javascripts/addflight.js"></script>