<%- include('../partials/header') %>
    <p>This is the Add Flights page</p>


    <form action="/addflight" method="post">
        Select Departure Airport <select name="departure" id="departure">
       <% airport.forEach(function(airport){ %>
        <option value="<%=airport.airport_id%>"><%= airport.airport_name %></option>
      <% });%>
       </select> Select Destination Airport <select name="Destination" id="Destination">
        <% airport.forEach(function(airport){ %>
         <option value="<%=airport.airport_id%>"><%= airport.airport_name %></option>
       <% });%>
    </select>

        <button type="submit">Submit</button>
    </form>