<%- include('../partials/header') %> 
<link rel="stylesheet" href="./styles/viewadmincards.css">
<div class="sidenav">
    <li><img src="./images/FullLogo.png" id="logo" /></li>
    <a href="/dashboard">Dashboard</a>
    <a href="/addairport">Add An Airport</a>
    <a href="/showairports">Existing Airports</a>
    <a href="/addflight">Add a Flight</a>
    <a href="/showflights">Existing Flights</a>
    <a href="/addcrew">Add Crew</a>
    <a href="/showusers">Show All Users</a>
    <a href="/showbookedflights">Booked Flight</a>
    <a href="/searchflight"> Search Flight </a>
    <a href="/logout">Logout</a>
</div>
<form id="sortfunc" action="/showflights" method="get">    
<select name="orderby" id="">
<option value="ap_des.airport_city">Destination</option>
<option value="ap_dep.airport_city">Departure</option>
<option value="departure_date">Date</option>
<option value="flight_number">Flight Number</option>
</select>    
<select name="order" >
<option value="ASC">Ascending Order</option>
<option value="DESC">Descending Order</option>
</select>
<button type="submit">Submit</button>
</form>

<div class="main">
  <h2>Existing Flights</h2>
<%flights.forEach(function(flight,i){ %>
   <% if(i%2===0) {%><div class="row"> <% } %>
  
<div class="column">
  <a href="/showflights/<%=flight.flight_number%>"> 
<div class="card animate__animated animate__fadeIn">

  <h3 class="airportheading"><%=flight.flight_number %></h3> 
  <p class="description" style="top: 180px;">Departure City&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;<span><%=flight.dep_city %></span></p>
<p class="description" style="left: 40px;top: 230px;">Departure Time&nbsp;&nbsp;&nbsp;&nbsp;:<span style="font-family: Open Sans; font-style: normal;font-weight: 600;font-size: 15px;
line-height: 27px;">&nbsp;&nbsp;&nbsp;&nbsp;<%=flight.departure_date.toDateString() %> @ <%=flight.departure_time.slice(0,5) %></span></p>
<p class="description" style="left: 40px;top: 280px;">Arrival City&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span style="font-family: Open Sans; font-style: normal;font-weight: 600;font-size: 15px;
line-height: 27px;">&nbsp;&nbsp;&nbsp;&nbsp;<%=flight.des_city %></span></p>
<p class="description" style="left: 40px;top: 330px;">Arrival Time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span style="font-family: Open Sans; font-style: normal;font-weight: 600;font-size: 15px;
line-height: 27px;">&nbsp;&nbsp; <%=flight.arrival_date.toDateString() %> @ <%=flight.arrival_time.slice(0,5) %></span></p>

</div></a>
</div> 

<% if(i%2===1) {%></div> <% } %>

<% }) %> 
</div>
<%- include('../partials/footer') %>



