<%- include('../partials/header') %> <%flights.forEach(function(flight){ %>
<hr />
Flight id: <%=flight.flight_number %>
<br />
From: <%=flight.dep_city %>
<br />
TO: <%=flight.des_city%>

<a href="/showflights/<%=flight.flight_number%>">View Details</a>
<% }) %> <%- include('../partials/footer') %>
