<%- include('../partials/header') %>
<link rel="stylesheet" href="/styles/bookticket.css">
<script src="/javascripts/bookticket.js"></script>
<nav class="navbar navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/searchflight">
        <img src="../images/FullLogo.png" width="200" height="auto" alt="Airline Logo">
    </a>
    <% if (currentUser===null) {%> 
    <span class="navbar-text"><a href="login">Login</a> <a href="/register" class="mx-4"> Register </a> </span>
    <%} else {%>
        <span class="navbar-text"> logged in as: <%=currentUser %> <a href="/dashboard" class="mx-4">Dashboard</a> <a href="/logout" class ="mx-4">Logout</a>
        <% }%>

</nav>
<div class="container flight_details row animate__animated animate__fadeInDown">
<h2 class="col-1"> <%=flight[0].flight_number %></h2>
<h3 class="text-capitalize"><%=flight[0].dep_city%>(<%=flight[0].dep_short%>) 
&#8594;
<%=flight[0].des_city%>(<%=flight[0].des_short%>)</h3>
<h3><%=flight[0].departure_date.toDateString().slice(-11) %> @ <%=flight[0].departure_time.slice(0,5)%></h3>
<h3 id="flight_value"> &#8377;<%=flight[0].price%> </h3>
</div>
<%var seatBooked = []; seats.forEach(function(seat) {seatBooked.push(seat["seat_number"]);}); seatBooked.sort();%>
<form action="/searchflight/<%=flight[0].flight_number%>" method="post" >
    <div class="row mt-5 ml-5">
    <div class="cabin col-5 animate__animated animate__fadeInLeft">
        <ol>
            <%  for(i=1;i<49 ;i++){if((i-1)%6===0){ %>
            <li class="row row--<%=i%>">
                <ol class="seats">
                    <%} %>
                    <li class="seat">
                        <input type="checkbox" id="seat<%=i%>" name="check[]" value="<%=i%>" <% if (seatBooked.includes(i)) {%> disabled <%}%> />
                    <label for="seat<%=i%>"><%=i%></label>
                    </li>
                    <%  if((i-1)%6==5){ %>
                </ol>
            </li>
            <%}} %>
        </ol>
    </div>
    <div class="col-3 text_values_parent animate__animated animate__fadeInRight">
         <p >Number of Seats: <span id="seat_number_parent">0</span></p>
    <div class="text_values">
    </div>
    Value:  &#8377;<span id="value_f"></span>
    <br>
    <button type="submit" id="submitButton"class="btn btn-dark" disabled>Submit</button>
    </div>
    <div class="col-4 legend_parent">
        <div class="seat_status animate__animated animate__fadeInRight ">
            <h4>Seat Status</h4>
            <h5> Your Selected Seats</h5>
            <div id="seat_status_seat" class="row d-flex justify-content-around"></div>
            <button id="seat_reset" type="button" class="btn btn-success">Reset</button>
        </div>
        <div class="legend animate__animated animate__fadeInUp">
            <h4>Legend</h4> 
            <div>
                <span class = "d-flex "> <div style="background-color:#24A298;">16</div> Seat Avalible</span> 
                <span class = "d-flex "> <div style="background-color:#BFBFBE;">X</div> Seat Not Avalible</span> 
                <span class = "d-flex "> <div style="background-color:#020001;">16</div> Seat Selected</span> 
            </div>
        </div>
    </div>
</div>


</form>

<%- include('../partials/footer') %>