<%- include('../partials/header') %>
<link rel="stylesheet" href="/styles/bookticket.css">
<script src="/javascripts/bookticket.js"></script>

<h3>This the the plane booking ticket For flight: <%=flight[0].flight_number %></h3>
<%var seatBooked = []; seats.forEach(function(seat) {seatBooked.push(seat["seat_number"]);}); seatBooked.sort();%>
<h3 class="select-text">Please select a seat</h3>
</div>
<div class="exit exit--front">
</div>
<form action="/searchflight/<%=flight[0].flight_number%>" method="post">
    <div class="cabin">
        <ol>
            <%  for(i=1;i<49 ;i++){if((i-1)%6===0){ %>
            <li class="row row--<%=i%>">
                <ol class="seats">
                    <%} %>
                    <li class="seat">
                        <input type="checkbox" id="seat<%=i%>" name="check[]" value="<%=i%>" <% if (seatBooked.includes(i)) {%> disabled <%}%> />
                    <label for="seat<%=i%>"><%=i%></label>
                    </li>
                    <%  if((i-1)%6==5){ %>
                </ol>
            </li>
            <%}} %>
        </ol>
    </div>
    <div class="exit exit--back">
    </div>












    <!-- <div class="col-12 col-md-4 row d-flex flex-row justify-content-between plane-body no-click">
    <% for(i=1;i< 49 ;i++){ %>
        <div class="col-2">
                <input type="checkbox" name="check[]" class="checkbox" value="<%=i%>" id="seat<%=i%>""  <% if (seatBooked.includes(i)) {%> disabled <%}%>>
                    <%=i%>
                </div>
                         <% if (i%6===0) {%> <br> <%}%> 
    <% }%>
</div> -->
   
    <div class="text_values">
        <input type="text" name="username[]" value="" id="input1" required maxlength="50">
        <input type="text" name="username[]" value="" id="input2" required maxlength="50">
        <input type="text" name="username[]" value="" id="input3" required maxlength="50">
    </div>
    <hr>
    <button type="submit" id="submitButton"class="btn btn-dark">Submit</button>

</form>


<%- include('../partials/footer') %>