<%- include('../partials/header') %>
<link rel="stylesheet" href="/styles/bookticket.css">

<h3>This the the plane booking ticket For flight: <%=flight[0].flight_number %></h3>
<%var seatBooked = []; seats.forEach(function(seat) {seatBooked.push(seat["seat_number"]);}); seatBooked.sort();%>

<form action="/searchflight/<%=flight[0].flight_number%>" method="post">
    <div class="col-12 col-md-4 row d-flex flex-row justify-content-between">
    <% for(i=1;i< 49 ;i++){ %>
        <div class="col-2">
                <input type="checkbox" name="check[]" class="checkbox" value="<%=i%>" id="seat<%=i%>""  <% if (seatBooked.includes(i)) {%> disabled <%}%>>
                    <%=i%>
                </div>
                        <!-- <% if (i%6===0) {%> <br> <%}%> -->
    <% }%>
</div>

<input type="text" name="username[]" value="" id="input1" required maxlength="50">
<input type="text" name="username[]" value="" id="input2" required maxlength="50">
<input type="text" name="username[]" value="" id="input3" required maxlength="50">
<button type="submit">Submit</button>
</form>

<%- include('../partials/footer') %>