<%- include('../partials/header') %>

<link rel="stylesheet" href="styles/searchflight.css">
<nav class="navbar navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">
        <img src="images/FullLogo.png" class="animate__animated animate__swing" width="200" height="auto" alt="" loading="lazy">
    </a>
    <% if (message===null) {%> 
    <span class="navbar-text"><a href="login">Login</a> <a href="/register" class="mx-4"> Register </a> </span>
    <%} else {%>
        <span class="navbar-text"> logged in as: <%=message %> <a href="/logout" class ="mx-4">Logout</a>
        <% }%>

</nav>
<div class="container-fluid">
        <form action="/searchflight" method="POST">
            <div class=" searchBox row ">
                <div class=" col-4"> <label for="departure">
                    FROM:</label> <select name="departure" id=" departure" class=" form-control" required>
                        <% airport.forEach(function(airport){ %>
                            <option value="<%=airport.airport_id%>"><%= airport.airport_name %></option>
                          <% });%>     
        </select>
                </div>
                <div class=" col-4"> <label for=" destination ">TO:</label>
                    <select name="destination" id=" destination" class=" form-control" required>
                        <% airport.forEach(function(airport){ %>
                            <option value="<%=airport.airport_id%>"><%= airport.airport_name %></option>
                          <% });%>
        </select>
                </div>
                <div class=" col-2">
                    <label for=" departure_date " > Departure Date:</label>
                   <input class="form-control" type="date" name="date" id="date" min="2020-09-30" required>
    </div>
    <div class="col-2">
        <button type="submit" class="btn btn-primary" id="submitButton" >Search the Flight</button>
    </div>
    </div>
    </form>
</div>


<% if(flight.length==0){ %>
<div><h4>No flights Found</h4></div>
<%} else {%>
    <%  flight.forEach(function(flight){ %>
        <div>
            Flight Id:
            <%= flight.flight_number%>
                <br> From:
                <%= flight.dep_name %>
                    <br> To:
                    <%= flight.des_name %>
            <% if(message != null) {%>
                    <a href="/searchflight/<%=flight.flight_number%>">Book Now</a>
            <%} else {%>
                <p>Login to Book the flight</p>
                <%}%>
        </div>

        <%})} %>
        <%- include('../partials/footer') %>