<%- include('../partials/header') %>

<link rel="stylesheet" href="/styles/searchflight.css">
<div class="container-fluid">
        <form action="/searchflight" method="POST">
            <div class=" searchBox row ">
                <div class=" col-6 col-sm-4"> <label for="departure">
                    From:</label> <select name="departure" id=" departure" class=" form-control" required>
                        <% airport.forEach(function(airport){ %>
                            <option value="<%=airport.airport_id%>"><%= airport.airport_city %></option>
                          <% });%>     
        </select>
                </div>
                <div class=" col-6 col-sm-4"> <label for=" destination ">To:</label>
                    <select name="destination" id=" destination" class=" form-control" required>
                        <% airport.forEach(function(airport){ %>
                            <option value="<%=airport.airport_id%>"><%= airport.airport_city %></option>
                          <% });%>
        </select>
                </div>
                <div class="col-6 col-sm-4 col-md-2">
                    <label for=" departure_date " > Departure Date:</label>
                   <input class="form-control" type="date" name="date" id="departure_date" min="2020-09-30" required>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="submit" class="btn btn-primary" id="submitButton" >Search the Flight</button>
    </div>
    </div>
    </form>

    <div class="col-12 col-md-5 animate__animated animate__fadeIn" id="tagLine">
        <p>Grab your Seat and Explore</p>
    </div>
</div>

<script>
  date = new Date();
  date = date.toISOString();
   document.getElementById("departure_date").min =   date.substring(0,10);



</script>

<%- include('../partials/footer') %>



