<%- include('../partials/header') %>
<link rel="stylesheet" href="./styles/showbookticket.css">
<% var oob = Object.keys(result[1]);%>
<table>
<tr>
<% oob.forEach(function (value){%>
    <th><%=value %></th>
<%});%>
</tr>
<% result.forEach(function (ticket){ %>
    <tr>
    <% oob.forEach(function(col){ %>
        <td><%=ticket[col] %></td>     
<% }); %>
</tr>
 <%}); %>
</table>
<nav class="navbar navbar-dark bg-dark fixed-top animate__animated animate__slideInDown">
    <a class="navbar-brand" href="/searchflight">
        <img src="./images/FullLogo.png" width="200" height="auto" alt="Airline Logo">
    </a>
    <% if (currentUser===null) {%> 
    <span class="navbar-text"><a href="login">Login</a> <a href="/register" class="mx-4"> Register </a> </span>
    <%} else {%>
        <span class="navbar-text"> logged in as: <%=currentUser %> <a href="/dashboard" class="mx-4">Dashboard</a> <a href="/logout" class ="mx-4">Logout</a>
        <% }%>

</nav>
<div id='root'></div>

<script src="./javascripts/JsBarcode.all.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react/16.13.1/umd/react.production.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.1/umd/react-dom.production.min.js'></script>
<%- include('../partials/footer') %>
<script src="./javascripts/showbookedticket.js"></script>


